h1{
    color: rgb(6, 9, 8);
}

p{
    color: aqua;
}

#img
{
    padding: 40px;
    border: 40px;
    background: red;
    background-color: aqua;
    background: red;

}

.bsdk
{
color: yellowgreen;
}

.flex-center{
    height: auto;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

}